.container {
  padding: 20px;
}

.goBackButton {
  margin-bottom: 20px;
}

.detailsContainer {
  display: flex;
}

.poster {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.info {
  flex-grow: 1;
}

.buttons {
  margin-top: 10px;
}

.toggleButton {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: #0056b3;
}
